// Breakpoints
$bp-mobile: 480px;  
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Tipografía
$primary-font: "Poppins", sans-serif;

// Tamaño de contenedor
$max-width-container: 1350px;

// Colores
$color-background-html: #FAF8F5;
$color-verde-oscuro: #A9D6CB;
$color-azul-oscuro: #264065;
$secondary-color: #D4A373;
$text-color: #333;
$color-subtitulo: #909090;
